
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    @*<style>
        {
            background:url('~/images/contemporary.jpg');
            background-repeat:no-repeat;
            background-size:cover;
        }
    </style>*@
</head>
<body style="background-color:rgb(0,0,0,0.8)">
    <div class="container"> 
        <h2 style="color:white;text-align:center;">Welcome to RP Dance School</h2>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div style="height:300px">
                <img class="img-responsive" src="~/images/gymnastics.jpg" alt="gymnastics" style="width:100%;height:40%" />
            </div>

        </div>
        <div class="col-xs-4">
            <div style="height:300px;">
                <img class="img-resposive" src="~/images/freestyle.jpg" alt="gymnastics" style="width:100%;height:40%" />
            </div>

        </div>
        <div class="col-xs-4" >
            <div style="height:300px;">
                <img class="img-responsive" src="~/images/contemporary.jpg" alt="gymnastics" style="        width: 100%;height:40%;
" />
            </div>

        </div>

    </div>
</body>
</html>
